[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=ytdl-wrapper %u
Name=YouTube Downloader
Comment=YouTube Downloader
Icon=youtube-dl-gui.svg
Categories=Application;Network;
MimeType=x-scheme-handler/ytdl;
